/* ==UserStyle==
@name           lxer.com - 2022/4/23 下午7:39:24
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("lxer.com") {
    h2{
        font-size:250%;
        line-height:normal;
    }
    #sidebar{
        display:none;
    }
    #content{
        width:90%!important;
    }
    
}
