/* ==UserStyle==
@name           lxer.com
@namespace      github.com/anenasa/userstyle
@version        1.0.0
@description    View lxer.com on mobile
@author         anenasa
==/UserStyle== */

@-moz-document domain("lxer.com") {
    span.storyheadline{
        font-size:220%;
        line-height:normal;
    }
    #sidebar{
        display:none;
    }
    #content{
        width:90%;
    }
}
