/* ==UserStyle==
@name           phoronix.com
@namespace      github.com/openstyles/stylus
@version        1.1.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("phoronix.com") {
    #logo {
        width: 100%;
        margin-left: 0px !important;
    }
    #search, #content, #footer, #footer-copyright, #header, #header .header-cell, #channel-tabbar, #notices, .breadcrumbs-wrapper {
        min-width: auto;
    }
}
