/* ==UserStyle==
@name           phoronix.com
@namespace      github.com/openstyles/stylus
@version        1.1.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("phoronix.com") {
    .scrolltofixed {
        position: absolute !important;
    }
    a:link {
        color: #000;
    }
}
