/* ==UserStyle==
@name           ptt.cc
@namespace      github.com/openstyles/stylus
@version        1.11.1
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("ptt.cc") {
    .r-ent .title {
        font-size: 26px;
        line-height: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #main-content, .btn, .board {
        font-size: 26px;
    }
    #navigation-container{
        display:none;
    }
    #topbar-container{
        position:static;
        height:auto;
    }
    .article-metaline-right{
        position:static;
    }
    #action-bar-container{
        position:static;
        padding-top:0;
    }
    .action-bar-margin{
        margin-top:0!important;
    }
    body{
        padding-top:0px;
    }
}
